.forgetPwd { padding: 3.5rem 3.0rem; background: #fff; }
.bg-gray { background: #f5f5f5; }
.step { text-align: center; margin-bottom: 4.3rem; }
.step>div { position: relative; top: 0; left: 0; display: inline-block; width: 24%; color: #b3b3b3; font-size: 1.1rem; margin: 0 5%; background: transparent; }
.step>div:first-child { margin-left: 0; }
.step>div:last-child { margin-right: 0; }
.step>div>.line { position: absolute; left: 87%; top: 1.0rem; width: 5.0rem; height: 0.1rem; background: #b3b3b3; z-index: 10; }
.step>div.active>.line { background: #e93b3d; }
.step>div.active i { background: #e93b3d; }
.step>div.active>p { color: #333; }
.step>div>i { display: inline-block; width: 2.4rem; height: 2.4rem; line-height: 2.4rem; border-radius: 2.4rem; background: #b3b3b3; font-style: normal; color: #fff; font-size: 1.5rem; }
.step>div>p { line-height: 2.0rem; color: #b3b3b3; font-size: 1.1rem; }
.forgetPwd .mint-cell,
.forgetPwd .mint-cell-wrapper { background-image: none !important; margin-bottom: 1.3rem; }
.input-group { padding-bottom: 2.4rem; }
.code-group { position: relative; top: 0; left: 0; }
.input-code { width: 63%; }
.btn-send { position: absolute; top: 0rem; right: 0; width: 33%; height: 3.9rem; line-height: 3.9rem; background: #fff; border: 0.05rem solid #a8a8a8; border-radius: 0.3rem; color: #666; font-size: 1.3rem; }
.text-gray { position: absolute; top: 0rem; right: 0; width: 33%; height: 3.9rem; line-height: 3.9rem; border: 0.05rem solid #a8a8a8; border-radius: 0.3rem; color: #666; font-size: 1.3rem; text-align: center; }
.btn-red,
.btn-gray { width: 100%; height: 4.7rem; line-height: 4.7rem; border-radius: 0.5rem; color: #fff; font-size: 1.7rem; }
.btn-red { background-color: #e93b3d; }
.btn-gray { background-color: #d9d9d9; }
.warn { color: #ff4242; font-size: 1.4rem; margin-bottom: 2.5rem; }
.success-info { text-align: center; margin-bottom: 5.5rem; margin-top: 0rem; }
.success-info>div { color: #b2b2b2; font-size: 4.7rem; }
.success-info>p { font-size: 1.9rem; color: #666; margin-top: 3.0rem; }
.step-three { border-radius: 1rem; margin-top: 2rem; padding: 5.5rem 2.2rem; background: #fff; box-shadow: 0rem 0.15rem 1.2rem 0rem rgba(138, 132, 132, 0.08); }
.btm { margin-top: 10rem; }
.btm>h2 { color: #333; font-size: 1.3rem; margin-bottom: 1.2rem; }
.btm>p { color: #a8a8a8; font-size: 1.2rem; line-height: 1.8rem; margin-bottom: 1.5rem; }
.btm>p>a { color: #22aeff; }